[user]
	name = Mickey Burks
	email = mickey@aquameta.com
[push]
	default = simple
[core]
    editor = vim
    excludesfile = ~/.gitignore
[color]
    ui = auto
[color "branch"]
    current = yellow bold
    local = green bold
    remote = cyan bold
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red reverse
[color "status"]
    added = green bold
    changed = yellow bold
    untracked = red bold
