[user]
  name = Mickey Burks
  email = MICKEY@uber.com

[core]
  excludesfile = /Users/MICKEY/.gitignore
  pager = delta

[alias]
  unstage = reset HEAD --

[pull]
  rebase = true

[interactive]
  diffFilter = delta --color-only

[delta]
  features = side-by-side line-numbers decorations
  syntax-theme = Nord
  side-by-side = true
